@import "_reset";
@import "_global";
@import "_vars";
@import "_fonts";

@import "__header";
@import "__feedback";
@import "__footer";
@import "__quote";
@import "__choose";
@import "__vision";
@import "__mission";
@import "__gallery";
@import "__teachers";
@import "__achievements";
@import "__location";


.header,
.main {
  color: $greySoft;
  background: #2E2E36;
}

.header {
  
  @media (min-width: 629px) {
    padding: 32px 0 100px;
  }
}

.main {
  text-align: center;
  color: $grey;
  padding-bottom: 2em;

  @media (min-width: 629px) {
    font-size: 16px;
    padding-bottom: 211px;
  }
  
  &__content {
    max-width: 570px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2em;
    font-family: $title-font;
    font-weight: 700;
    line-height: 1.375;
    margin-bottom: 1em;
    color: $greySoft;
    
    @media (min-width: 629px) {
      font-size: 80px;
      margin-bottom: 28px;
    }
  }

  p {
    
    @media (min-width: 629px) {
      margin-bottom: 43px;
    }
  }
  
  a {
    display: inline-block;
    color: $white;
    padding: 13px 40px 13px 70px;
    border: 1px solid $greySoft;
    border-radius: 6px;
    font-family: $title-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    transition: border .3s ease, background-color .3s ease;

    &:hover {
      border: 1px solid $dark;
      background: $dark;
    }
  }
}

.quote {

  &__inner {

    @media (min-width: 1354px) {
      margin: 0;
      display: flex;
      justify-content: space-between;
      max-width: 100%;
    }
  }
  
  &__left {
    
    @media (min-width: 1354px) {
      text-align: left;
      max-width: 805px;
    }
  }

  &__right img {
    max-width: 100%;
  }
}

.choose {
  color: $greySoft;
  background: $darkBlue;
  
  &__item {
    background: $darkBlue;
    border: 1px solid $blue;
    border-radius: 8px;
  
    &:nth-child(even) {
      background: $blue;
    }
  }
}

.teachers {

  &__item {
    flex: 0 0 20%;

    @media (min-width: 1506px) {
      // min-width: 20%;
      margin-bottom: 50px;
    } 
  }
}

.achievements {
  margin-bottom: 1em;
}