@import "_fonts";
@import "_vars";

body {
  overflow-x: hidden;
  font-family: $text-font;
  font-size: 16px;
  line-height: 1.75;
}

p {
  margin-bottom: 20px;
}

.container {
  max-width: 640px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 740px) {
    max-width: 1040px;
  }

  @media (min-width: 1240px) {
    max-width: 1616px;
    padding: 0 10px;
  }
}

.header,
.slider,
.feature {
  background: $dark;
  color: $white;
}

.logo {
  font-size: 2em;
  font-family: $logo-font;
  transition: color .3s ease;
  color: $white;
  
  @media (min-width: 1240px) {
    font-size: 39px;
  }

  a {
    display: flex;
    align-items: center;
  }

  img {
    margin-right: .3em;
  
    @media (min-width: 1240px) {
      margin-right: 17px;
    }
  }

  &:hover {
    color: $blue;
  }
}