$dark: #080A12;
$grey: #A3ABB6;
$greySoft: #EBECF0;

$title-font: 'Cairo', sans-serif;
$text-font: 'Open-Sans', sans-serif;
$font-decor: 'Poppins', sans-serif;


.main,
.header {
  background: #2e2f36;
}

.header {
  padding: 30px 0 30px;
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list {
    display: flex;
  }
  &__logo {
    margin: 0 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    strong {
      padding-top: 8px;
      font-weight: 300;
      font-size: 12px;
      line-height: 1.33333;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: $grey;
    }
  }
}

.header-list {
  &__item + .header-list__item {
    margin-left: 80px;
  }
  &__link {
    color: $greySoft;
    transition: color .3s ease;
    &:hover {
      color: $grey;
    }
  }
}

.main {
  padding: 135px 0 210px;
  &__inner {
    max-width: 40%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.75;
    text-align: center;
    color: $grey;
  }
  h1 {
    font-family: $title-font;
    font-weight: 700;
    font-size: 80px;
    line-height: 1.375;
    color: $greySoft;
    padding-bottom: 28px;
  }
  p {
    margin-bottom: 45px;
  }
  &__btn {
    width: 208px;
    min-height: 60px;
    padding: 13px 35px;
    border: 1px solid $greySoft;
    color: #fff;
    border-radius: 6px;
    transition: color .3s ease, background .3s ease;
    &:hover {
      color: $dark;
      background: #fff;
    }
  }
}