@import "_fonts";
@import "_vars";
@import "_global";

.achievements {
  text-align: center;
  color: $grey;
  font-size: 18px;
  line-height: 1.38888;

  &__list {
    border-top: 1px solid $greySoft;
    border-bottom: 1px solid $greySoft;
    padding: 2em 0;

    @media (min-width: 740px) {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 45px 0;
      margin: 60px 0;
    }
  }

  &__item {
    
    & + .achievements__item {
      margin-top: 2em;

      @media (min-width: 740px) {
        margin: 0;
      }
    }
    
    strong {
      font-family: $title-font;
      font-weight: 700;
      font-size: 3em;
      line-height: 1;
      margin-bottom: 10px;
      display: inline-block;
      color: $dark;
  
      @media (min-width: 740px) {
        font-size: 60px;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

}