@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

p {
  margin-bottom: 20px;
}

.container {
  max-width: 640px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 740px) {
  .container {
    max-width: 1040px;
  }
}

@media (min-width: 1240px) {
  .container {
    max-width: 1616px;
    padding: 0 10px;
  }
}

.header,
.slider,
.feature {
  background: #080A12;
  color: #fff;
}

.logo {
  font-size: 2em;
  font-family: "MuseoModerno", sans-serif;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #fff;
}

@media (min-width: 1240px) {
  .logo {
    font-size: 39px;
  }
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  margin-right: .3em;
}

@media (min-width: 1240px) {
  .logo img {
    margin-right: 17px;
  }
}

.logo:hover {
  color: #2459A8;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
}

@media (min-width: 1240px) {
  .header__inner {
    padding: 32px 0 84px;
  }
}

.header__list {
  display: none;
}

@media (min-width: 1240px) {
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1240px) {
  .header__list-item {
    font-family: "Cairo", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #EBECF0;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }
  .header__list-item:hover {
    color: #2459A8;
  }
  .header__list-item + .header__list-item {
    margin-left: 75px;
  }
}

.header__help {
  display: none;
}

@media (min-width: 1240px) {
  .header__help {
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #EBECF0;
    display: block;
  }
}

@media (min-width: 1240px) {
  .header__help-tel {
    position: relative;
    margin-right: 63px;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
  }
  .header__help-tel:hover {
    color: #2459A8;
  }
  .header__help-tel span {
    margin-right: 25px;
    font-family: 'icomoon';
  }
}

@media (min-width: 1240px) {
  .header__help-search {
    position: absolute;
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    -webkit-transform: translateX(140%);
            transform: translateX(140%);
    font-family: 'icomoon';
  }
  .header__help-search:hover {
    color: #2459A8;
  }
}

.header__burger {
  font-size: 2em;
  font-family: 'icomoon';
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.header__burger:hover {
  color: #2459A8;
}

@media (min-width: 1240px) {
  .header__burger {
    display: none;
  }
}

.slider {
  color: #A3ABB6;
}

@media (min-width: 1240px) {
  .slider__inner {
    padding-bottom: 112px;
    border-bottom: 1px solid rgba(235, 236, 240, 0.17);
  }
}

.slider__left {
  max-width: 340px;
}

@media (min-width: 740px) {
  .slider__left {
    max-width: 560px;
  }
}

@media (min-width: 1240px) {
  .slider__left {
    margin-left: 68px;
  }
}

.slider strong {
  color: #2459A8;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.35294;
  text-transform: uppercase;
}

@media (min-width: 1240px) {
  .slider strong {
    display: inline-block;
    font-size: 16px;
    padding-bottom: 13px;
  }
}

.slider h1 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.09090;
  color: #EBECF0;
  margin-bottom: 1em;
}

@media (min-width: 740px) {
  .slider h1 {
    font-size: 3em;
  }
}

@media (min-width: 1240px) {
  .slider h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 60px;
    color: #EBECF0;
    margin-bottom: 27px;
  }
}

.slider p {
  margin-bottom: 2em;
}

@media (min-width: 1240px) {
  .slider p {
    margin-bottom: 55px;
  }
}

.slider a {
  padding: 13px 55px;
  background: #023AA2;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.88888;
  color: #fff;
  border-radius: 6px;
  -webkit-transition: color .3s ease, background-color .3s ease;
  transition: color .3s ease, background-color .3s ease;
}

@media (min-width: 1240px) {
  .slider a {
    font-size: 18px;
  }
}

.slider a:hover {
  color: #023AA2;
  background: #fff;
}

.feature {
  color: #A3ABB6;
}

.feature__list {
  padding: 4em 0 2em 0;
  text-align: center;
}

@media (min-width: 740px) {
  .feature__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1240px) {
  .feature__list {
    padding: 40px 0px 40px 102px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.feature__item {
  margin-bottom: 2em;
}

@media (min-width: 740px) {
  .feature__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

@media (min-width: 1240px) {
  .feature__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27.333%;
            flex: 0 0 27.333%;
    margin: 0;
  }
}

.feature img {
  width: 3em;
}

@media (min-width: 1240px) {
  .feature img {
    margin-right: 31px;
    max-height: 78px;
    width: auto;
  }
}

.feature h2 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.875;
  color: #EBECF0;
}

@media (min-width: 1240px) {
  .feature h2 {
    line-height: 1.275;
    margin-bottom: 12px;
  }
}

.feature .feature__item-text {
  max-width: 300px;
  margin: 0 auto;
}

.events {
  color: #fff;
  background: #023AA2;
  text-align: center;
  font-size: 16px;
}

.events__inner {
  padding: 2em 0;
}

@media (min-width: 1620px) {
  .events__inner {
    padding: 80px 0px 83px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.events__side {
  margin-bottom: 2em;
}

@media (min-width: 1620px) {
  .events__side {
    margin: auto 32px auto 0;
    text-align: left;
  }
}

.events h3 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.875;
  margin-bottom: 10px;
}

@media (min-width: 1372px) {
  .events h3 {
    font-size: 24px;
  }
}

.events__btn {
  font-family: 'icomoon';
  font-size: 18px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.events__btn:hover {
  color: #080A12;
}

.events__btn + .events__btn {
  margin-left: 28px;
}

@media (min-width: 740px) {
  .events__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 1620px) {
  .events__list {
    -webkit-transform: translate(10.6%, -12%);
            transform: translate(10.6%, -12%);
    position: absolute;
    right: 0;
  }
}

.events__item {
  max-width: 288px;
  margin: 0 auto 2em auto;
}

@media (min-width: 740px) {
  .events__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (min-width: 1372px) {
  .events__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 450px;
    text-align: left;
  }
}

@media (min-width: 1620px) {
  .events__item {
    margin: 0 88px 0px 0px;
  }
}

.events p {
  color: #A3ABB6;
}

.events h4 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.events time {
  font-weight: 600;
  font-size: 16px;
  line-height: 2.5;
}

.events__item-circle {
  margin: 0 auto;
  background: #FBFF33;
  width: 80px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #000;
  line-height: 1;
  font-family: "Cairo", sans-serif;
  margin-bottom: 1em;
  text-align: center;
}

@media (min-width: 1240px) {
  .events__item-circle {
    min-width: 108px;
    height: 108px;
  }
}

@media (min-width: 1372px) {
  .events__item-circle {
    margin-right: 32px;
  }
}

.events__item-circle span {
  font-size: 2em;
}

.quote {
  background: no-repeat top center url(../images/content/bg-fig.jpg);
  text-align: center;
  font-size: 18px;
  line-height: 1.77777;
  color: #080A12;
}

.quote__inner {
  padding: 2em 0;
}

@media (min-width: 740px) {
  .quote__inner {
    margin: 0 auto;
    max-width: 752px;
    padding: 110px 0;
  }
}

.quote strong {
  display: block;
  font-weight: 600;
  font-size: 1em;
  line-height: 33px;
  text-transform: uppercase;
  color: #023AA2;
  font-family: 'Open Sans';
}

@media (min-width: 740px) {
  .quote strong {
    margin-bottom: 17px;
    font-size: 24px;
  }
}

.quote h2 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.33333;
  margin-bottom: 1em;
}

@media (min-width: 740px) {
  .quote h2 {
    font-size: 60px;
    margin-bottom: 36px;
  }
}

.quote p {
  margin-bottom: 1em;
}

@media (min-width: 740px) {
  .quote p {
    margin-bottom: 104px;
  }
}

@media (min-width: 740px) {
  .quote .auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 740px) {
  .quote .auth__inner {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}

@media (min-width: 740px) {
  .quote .auth__sign {
    margin-bottom: 24px;
  }
}

@media (min-width: 740px) {
  .quote img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.achievements {
  text-align: center;
  color: #A3ABB6;
  font-size: 18px;
  line-height: 1.38888;
}

.achievements__list {
  border-top: 1px solid #EBECF0;
  border-bottom: 1px solid #EBECF0;
  padding: 2em 0;
}

@media (min-width: 740px) {
  .achievements__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 45px 0;
  }
}

.achievements__item + .achievements__item {
  margin-top: 2em;
}

@media (min-width: 740px) {
  .achievements__item + .achievements__item {
    margin: 0;
  }
}

.achievements strong {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 10px;
  display: inline-block;
  color: #080A12;
}

@media (min-width: 740px) {
  .achievements strong {
    font-size: 60px;
  }
}

.achievements p {
  margin-bottom: 0;
}

.choose {
  padding: 2em 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.75;
  color: #080A12;
  background: #F9F9F9;
}

@media (min-width: 1650px) {
  .choose {
    padding: 70px 0;
  }
}

@media (min-width: 1240px) {
  .choose {
    font-size: 16px;
    line-height: 28px;
  }
}

.choose__inner {
  max-width: 600px;
  margin-bottom: 1em;
}

@media (min-width: 740px) {
  .choose__inner {
    margin: 0 auto;
  }
}

.choose h2 {
  font-size: 2em;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  line-height: 1.33333;
  margin-bottom: 1em;
}

@media (min-width: 740px) {
  .choose h2 {
    margin: 0 auto 8px;
    font-size: 60px;
  }
}

.choose__list {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 568px) {
  .choose__list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1240px) {
  .choose__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.choose__item {
  background: #fff;
  border: 1px solid #EBECF0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 1em;
}

@media (min-width: 568px) {
  .choose__item {
    width: 45%;
  }
}

@media (min-width: 878px) {
  .choose__item {
    width: 30%;
  }
}

@media (min-width: 1240px) {
  .choose__item {
    width: 27%;
    margin: 15px;
    padding: 60px 60px 70px 40px;
  }
}

.choose__item p {
  margin-bottom: 0;
}

.choose img {
  width: auto;
  height: 28px;
  margin-bottom: 0.5em;
}

@media (min-width: 1240px) {
  .choose img {
    height: 38px;
    width: 38px;
    margin-bottom: 30px;
  }
}

.choose h4 {
  margin-bottom: 1em;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.06666;
}

@media (min-width: 1240px) {
  .choose h4 {
    font-size: 30px;
  }
}

.mission__inner {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

@media (min-width: 1561px) {
  .mission__inner {
    padding: 100px 0;
  }
}

@media (min-width: 1506px) {
  .mission__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.mission__left {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 1206px) {
  .mission__left {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    max-width: 40%;
  }
}

@media (min-width: 1406px) {
  .mission__left {
    max-width: 815px;
  }
}

.mission img {
  width: 70%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1206px) {
  .mission img {
    width: 70%;
  }
}

@media (min-width: 1506px) {
  .mission img {
    margin: 8px;
    max-width: 611px;
    max-height: 458px;
  }
}

@media (min-width: 1206px) {
  .mission__right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    max-width: 584px;
  }
}

.mission__content {
  max-width: 476px;
  margin: 0 auto;
}

@media (min-width: 1206px) {
  .mission__content {
    text-align: left;
    margin: 0;
  }
}

.mission h2 {
  font-size: 2em;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  line-height: 1.33333;
  margin-bottom: 1em;
}

@media (min-width: 1206px) {
  .mission h2 {
    font-size: 60px;
    margin-bottom: 17px;
  }
}

.mission p {
  margin-bottom: 2em;
}

.mission .right__item {
  position: relative;
  border-bottom: 1px solid rgba(143, 134, 196, 0.1);
  counter-increment: number;
  text-align: center;
  margin-bottom: 2em;
}

@media (min-width: 1206px) {
  .mission .right__item {
    text-align: left;
  }
}

.mission .right__item::after {
  content: counter(number);
  position: absolute;
  height: 50px;
  width: 50px;
  border: 1px solid #023AA2;
  border-radius: 50%;
  right: 50%;
  top: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.33333;
  color: #023AA2;
}

@media (min-width: 1206px) {
  .mission .right__item::after {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
    font-size: 36px;
    left: 0;
    height: 84px;
    width: 84px;
  }
}

.mission .item__inner {
  padding-top: 4em;
  margin-top: 1em;
  max-width: 478px;
  margin: 0 auto;
}

@media (min-width: 1206px) {
  .mission .item__inner {
    padding: 0;
    margin-left: 110px;
  }
}

.mission h5 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.23076;
  color: #080A12;
  margin-bottom: 10px;
}

.teachers {
  margin-bottom: 2em;
}

.teachers__inner {
  max-width: 623px;
  text-align: center;
  margin: 0 auto;
  color: #363848;
}

@media (min-width: 1330px) {
  .teachers__inner {
    padding: 0;
  }
}

.teachers h2 {
  font-size: 2em;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  line-height: 1.33333;
  margin-bottom: 1em;
  color: #080A12;
}

@media (min-width: 1330px) {
  .teachers h2 {
    font-size: 58px;
    margin-bottom: 13px;
  }
}

.teachers p {
  margin-bottom: 30px;
}

.teachers__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 564px) {
  .teachers__items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.teachers img {
  border-radius: 6px;
  width: 100%;
}

.teachers__item {
  text-align: center;
  margin-bottom: 1em;
  -webkit-box-shadow: 0 7px 22px rgba(143, 134, 196, 0.07);
          box-shadow: 0 7px 22px rgba(143, 134, 196, 0.07);
  border-radius: 6px;
  color: #202020;
  -webkit-transition: color .3s ease, background-color .3s ease;
  transition: color .3s ease, background-color .3s ease;
}

.teachers__item:hover {
  background: #023AA2;
  color: #fff;
}

@media (min-width: 564px) {
  .teachers__item {
    max-width: 40%;
  }
}

@media (min-width: 826px) {
  .teachers__item {
    max-width: 28%;
  }
}

@media (min-width: 1330px) {
  .teachers__item {
    max-width: 18%;
    margin-bottom: 0;
  }
}

.teachers__item-name {
  padding: .3em 0 1em;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.33333;
}

@media (min-width: 1330px) {
  .teachers__item-name {
    padding: 12px 0 37px;
    font-size: 24px;
  }
}

.reviews {
  text-align: center;
  padding-bottom: 2em;
}

@media (min-width: 1505px) {
  .reviews {
    padding-bottom: 100px;
  }
}

.reviews__inner {
  max-width: 584px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
}

@media (min-width: 1114px) {
  .reviews__inner {
    padding: 0;
  }
}

.reviews h2 {
  font-size: 2em;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  line-height: 1.33333;
  margin-bottom: 1em;
  color: #080A12;
}

@media (min-width: 1114px) {
  .reviews h2 {
    font-size: 60px;
    line-height: 1.86666;
    margin-bottom: 9px;
  }
}

.reviews__rating {
  font-family: 'icomoon';
  color: #FE8D4D;
  font-size: 28px;
}

@media (min-width: 1114px) {
  .reviews__rating {
    margin-bottom: 30px;
  }
}

.reviews__content {
  position: relative;
  margin: 0 auto;
  max-width: 985px;
  padding: 0 2.5em;
  margin-bottom: 2em;
}

.reviews__content span {
  position: absolute;
  font-family: 'icomoon';
  font-size: 20px;
}

@media (min-width: 1114px) {
  .reviews__content span {
    font-size: 58px;
  }
}

.reviews__content .left {
  left: 0;
  top: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@media (min-width: 1114px) {
  .reviews__content .left {
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
}

.reviews__content .right {
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 1114px) {
  .reviews__content .right {
    -webkit-transform: translate(50%, 50%);
            transform: translate(50%, 50%);
  }
}

.reviews__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 157px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__auth-name {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.85714;
  color: #363848;
}

.reviews__auth-source {
  font-size: 16px;
  line-height: 1.375;
  color: #3D3D3D;
  margin-bottom: 2em;
}

.reviews__btn {
  font-family: 'icomoon';
  font-size: 30px;
  color: #023AA2;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.reviews__btn:hover {
  color: #080A12;
}

.reviews__btn + .reviews__btn {
  margin-left: 20px;
}

@media (min-width: 1505px) {
  .photos {
    padding-bottom: 100px;
  }
}

.photos__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1060px) {
  .photos__inner {
    margin: 0 auto;
  }
}

@media (min-width: 1588px) {
  .photos__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.photos__content {
  text-align: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  width: 100%;
}

@media (min-width: 1588px) {
  .photos__content {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    width: auto;
  }
}

.photos h2 {
  font-size: 2em;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  line-height: 1.33333;
  margin-bottom: 1em;
  color: #080A12;
}

@media (min-width: 1114px) {
  .photos h2 {
    font-size: 60px;
    line-height: 1.86666;
    margin-bottom: 9px;
  }
}

.photos__img {
  margin: 0 10px 10px 0;
}

.photos img {
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 986px) {
  .photos img {
    height: 200px;
  }
}

@media (min-width: 1588px) {
  .photos img {
    height: 262px;
  }
}

.news {
  padding: 2em 0;
  font-size: 1em;
  line-height: 26px;
  color: #080A12;
}

@media (min-width: 1565px) {
  .news {
    padding: 0 0 100px 0;
  }
}

.news__inner {
  text-align: center;
  font-size: 1em;
  line-height: 1.375;
  color: rgba(0, 0, 0, 0.6);
  max-width: 584px;
  margin: 0 auto;
}

.news h2 {
  font-size: 2em;
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  line-height: 1.33333;
  margin-bottom: 1em;
  color: #080A12;
}

@media (min-width: 1114px) {
  .news h2 {
    font-size: 60px;
    line-height: 1.86666;
    margin-bottom: 0;
  }
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 1440px) {
  .news__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1565px) {
  .news__list {
    padding-bottom: 40px;
  }
}

.news__item {
  background: #fff;
  padding: 20px;
  margin-bottom: 2em;
  border-radius: 6px;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
}

@media (min-width: 640px) {
  .news__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }
}

@media (min-width: 1062px) {
  .news__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media (min-width: 1565px) {
  .news__item {
    margin-bottom: 0;
    padding: 25px 40px 40px 40px;
  }
}

.news__item:hover {
  -webkit-box-shadow: 0 8px 42px rgba(0, 0, 0, 0.09);
          box-shadow: 0 8px 42px rgba(0, 0, 0, 0.09);
}

.news__item img {
  width: 100%;
  height: 206px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1em;
}

@media (min-width: 1565px) {
  .news__item img {
    margin-bottom: 25px;
  }
}

.news__item h4 {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.30769;
  color: #000000;
  margin-bottom: 1em;
}

@media (min-width: 1565px) {
  .news__item h4 {
    font-size: 26px;
    margin-bottom: 10px;
  }
}

.news__item strong {
  display: inline-block;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.30769;
  color: #A3ABB6;
  margin-bottom: .5em;
}

@media (min-width: 1565px) {
  .news__item strong {
    font-size: 16px;
    padding-bottom: 23px;
  }
}

.news__item p {
  margin-bottom: 1em;
}

.news__item span {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.88888;
  color: #023AA2;
}

@media (min-width: 1565px) {
  .news__item span {
    font-size: 18px;
  }
}

.news__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .news__bottom {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.news__buttons {
  margin-bottom: 1em;
}

.news__btn {
  font-family: 'icomoon';
  font-size: 30px;
  color: #023AA2;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.news__btn:hover {
  color: #080A12;
}

.news__btn + .news__btn {
  margin-left: 20px;
}

.news__link {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.7;
  color: #023AA2;
  border: 1px solid #023AA2;
  border-radius: 6px;
  padding: 14px 48px;
  -webkit-transition: color .3s ease, background-color .3s ease;
  transition: color .3s ease, background-color .3s ease;
}

@media (min-width: 1565px) {
  .news__link {
    font-size: 20px;
  }
}

.news__link:hover {
  color: #fff;
  background: #023AA2;
}

.feedback {
  background: #023AA2;
  color: #fff;
}

.feedback__inner {
  padding: 2em 0;
  text-align: center;
}

@media (min-width: 883px) {
  .feedback__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1240px) {
  .feedback__inner {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 100px 0;
  }
}

.feedback__title {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  line-height: 1.47368;
  margin-bottom: 1em;
}

@media (min-width: 564px) {
  .feedback__title {
    font-size: 28px;
  }
}

@media (min-width: 883px) {
  .feedback__title {
    margin-bottom: 0;
    text-align: left;
    max-width: 380px;
  }
}

@media (min-width: 1240px) {
  .feedback__title {
    font-size: 38px;
    max-width: 533px;
  }
}

.feedback__content {
  overflow: auto;
}

@media (min-width: 508px) {
  .feedback__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (min-width: 883px) {
  .feedback__content {
    max-height: 60px;
    margin: 0;
    width: 50%;
  }
}

.feedback__input {
  border-radius: 6px;
  width: 100%;
  padding: 18px 20px;
  background: #023AA2;
  border: 1px solid #EBECF0;
  color: #EBECF0;
  font-size: .8em;
  line-height: 1.38888;
  text-overflow: ellipsis;
  margin-bottom: 1em;
}

@media (min-width: 508px) {
  .feedback__input {
    width: calc(100% - 198px);
    margin-bottom: 0;
    border-radius: 6px 0 0 6px;
  }
}

@media (min-width: 1403px) {
  .feedback__input {
    padding: 10px 30px 10px 30px;
    font-size: 18px;
  }
}

.feedback__btn {
  border-radius: 6px;
  width: 100%;
  border: none;
  padding: 18px 49px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5;
  color: #023AA2;
  background: #fff;
  text-transform: uppercase;
  -webkit-transition: color .3s ease, background-color .3s ease;
  transition: color .3s ease, background-color .3s ease;
  cursor: pointer;
}

.feedback__btn:hover {
  background: #080A12;
  color: #fff;
}

@media (min-width: 508px) {
  .feedback__btn {
    max-width: 198px;
    border-radius: 0 6px 6px 0;
  }
}

.footer {
  font-family: "Cairo", sans-serif;
  background: #080A12;
  color: #A3ABB6;
  padding: 2em 0;
  line-height: 1.875;
}

@media (min-width: 1643px) {
  .footer {
    padding: 100px 0 20px;
  }
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2em;
}

@media (min-width: 1643px) {
  .footer__menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 30p;
  }
}

.footer__list {
  width: 50%;
  margin-bottom: 1em;
}

@media (min-width: 730px) {
  .footer__list {
    width: 33.3333%;
  }
}

@media (min-width: 1120px) {
  .footer__list {
    width: 11.66666%;
  }
}

.footer__list li {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.footer__list li:hover {
  color: #2459A8;
}

@media (min-width: 1643px) {
  .footer__list-item {
    margin-bottom: 14px;
  }
}

.footer__logo-footer {
  margin-bottom: 1em;
}

.footer h4 {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.85;
  color: #EBECF0;
  margin-bottom: 1em;
}

@media (min-width: 1643px) {
  .footer h4 {
    font-size: 20px;
  }
}

@media (min-width: 755px) {
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (min-width: 1643px) {
  .footer__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 50px;
  }
}

.footer__info p {
  margin-bottom: 42px;
}

@media (min-width: 755px) {
  .footer__info {
    max-width: 40%;
  }
}

@media (min-width: 1643px) {
  .footer__info {
    max-width: 803px;
  }
}

.footer__addresses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

.footer__addresses .address,
.footer__addresses a {
  margin-top: 1em;
}

@media (min-width: 1643px) {
  .footer__addresses .address,
  .footer__addresses a {
    margin: 0;
  }
}

@media (min-width: 1643px) {
  .footer__addresses {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0;
  }
}

.footer__social {
  font-family: 'icomoon';
}

@media (min-width: 755px) {
  .footer__social {
    width: 50%;
  }
}

@media (min-width: 1643px) {
  .footer__social {
    max-width: 490px;
  }
}

.footer h5 {
  margin-bottom: 1em;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
  max-width: 493px;
  font-size: 24px;
}

@media (min-width: 1643px) {
  .footer__social-list {
    max-width: 344px;
  }
}

.footer__social-list span {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.footer__social-list span:hover {
  color: #2459A8;
}

.footer__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2em;
}

@media (min-width: 962px) {
  .footer__download {
    margin: 0;
    max-width: 493px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__download-btn {
  position: relative;
  padding: 11px 48px 16px 76px;
  border-radius: 6px;
  background: #171B2C;
  font-size: 14px;
  line-height: 1.71428;
  color: #EBECF0;
  font-family: 'Lato';
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.footer__download-btn span {
  margin-top: 1px;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.2;
  color: #EBECF0;
}

.footer__download-btn:hover {
  background: #023AA2;
}

.footer__download-btn::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
}

.footer .btn__app-store {
  position: relative;
  margin-bottom: 1em;
}

@media (min-width: 501px) {
  .footer .btn__app-store {
    margin: 0;
  }
}

.footer .btn__app-store::after {
  height: 38px;
  width: 30px;
  background: no-repeat center url(../images/icons/appstore.svg);
  -webkit-transform: translate(80%, 40%);
          transform: translate(80%, 40%);
}

.footer .btn__google-play::after {
  height: 32px;
  width: 26px;
  background: no-repeat center url(../images/icons/googleplay.svg);
  -webkit-transform: translate(110%, 70%);
          transform: translate(110%, 70%);
}

.footer__policy {
  font-size: .8em;
  text-align: center;
  color: #EBECF0;
  font-weight: 600;
  border-top: 1px solid rgba(243, 243, 243, 0.08);
  padding-top: 25px;
}

@media (min-width: 755px) {
  .footer__policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1643px) {
  .footer__policy {
    font-size: 16px;
  }
}

.footer__policy p {
  margin-bottom: 1em;
}

@media (min-width: 755px) {
  .footer__policy p {
    margin: 0;
  }
}

.footer__policy nav {
  margin-bottom: 1em;
}

@media (min-width: 755px) {
  .footer__policy ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__policy li {
  margin-bottom: 1em;
}

@media (min-width: 755px) {
  .footer__policy li {
    margin: 0 0 0 1em;
  }
}

.footer__policy a {
  font-weight: 400;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #A3ABB6;
}

.footer__policy a:hover {
  color: #2459A8;
}

.footer__policy strong span {
  color: #D93838;
}
/*# sourceMappingURL=home.css.map */