.main {
  background-color: #000;
  color: #EBECF0;
  font-size: 18px;
}

/* header */

.header {
  padding: 45px 0 100px;
  font-family: 'Cairo', sans-serif;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-logo-link {
  position: relative;
  padding-left: 65px;
  font-family: 'MuseoModerno', cursive;
  font-weight: bold;
  font-size: 39px;
  line-height: 62px;
  margin-right: 220px;
}
.header__menu-logo-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  background-image: url(../images/icons/logo.png);
  width: 49px;
  height: 40px;
}

.header__menu-item {
  font-weight: 600;
  line-height: 34px;
  border-bottom: 1px solid transparent;
  transition: all .3s;
}

.header__menu-item:hover {
  color: #2459A8;
  border-bottom: 1px solid #2459A8;
}

.menu-item--phone {
  position: relative;
  padding-left: 45px;
  margin-left: 190px;
  font-family: 'Poppins', sans-serif;
}

.menu-item--phone::before {
  content: '';
  position: absolute;
  background-image: url(../images/icons/phone.png);
  width: 24px;
  height: 24px;
  left: 0;
  bottom: 5px;
}

.menu-item--search {
  position: absolute;
  right: -18px;
  transform: translate(100%, 5%);
}

/* main-groups */

.main-groups {
  border-bottom: 1px solid rgba(235, 236, 240, 0.17);
  padding: 0 0 98px 68px;
  margin-bottom: 30px;
}

.main__text-group {
  max-width: 540px;
}

.text-group-top__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  color: #2459A8;
  text-transform: uppercase;
  padding-bottom: 14px;
}

.text-group-title {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 60px;
  padding-bottom: 26px;
  font-family: 'Cairo', sans-serif;
}

.text-group-bottom__title {
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 43px;
  color: #A3ABB6;
}

.text-group-btn {
  font-family: 'Cairo', sans-serif;
  width: 197px;
  height: 60px;
  color: #fff;
  background-color: #023AA2;
  border-radius: 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  box-shadow: 0px 20px 25px rgba(2, 58, 162, 0.4);
}

/* feature */

.feature {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  padding-bottom: 40px;
}

.feature__item {
  position: relative;
  max-width: 320px;
  margin-left: 110px;
}

.feature__item::before {
  content: '';
  position: absolute;
  left: -30px;
  transform: translate(-100%, 10%);
}

.feature__item--student::before {
  background-image: url(../images/icons/fstudent.png);
  height: 78px;
  width: 78px;
}

.feature__item--teacher::before {
  background-image: url(../images/icons/fteacher.png);
  height: 78px;
  width: 78px;
}

.feature__item--classroom::before {
  background-image: url(../images/icons/fclassroom.png);
  height: 78px;
  width: 78px;
}

.feature__item-title {
  font-family: 'Cairo', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.feature__item-text {
  font-size: 16px;
  line-height: 28px;
  color: #A3ABB6;
}

/* upcoming-events__slider */

.upcoming-events__slider {
  background-color: #023AA2;
}

.events__slider-inner {
  display: flex;
}

.upcoming-events__slider--left {
  min-width: 262px;
  padding: 80px 0;
}

.upcoming-events__slider--left-text {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 45px;
  padding-bottom: 17px;
}

.upcoming-events__slider--arrow-left {
  padding-right: 27px;
}

.upcoming-events__slider--right {
  display: flex;
}

.upcoming-events__slider-item {
  padding: 58px 0;
  display: flex;
  align-items: center;
  font-family: 'Cairo', sans-serif;
  color: #fff;
}

.upcoming-events__slider-item--circle {
  background-color: #FBFF33;
  height: 108px;
  width: 108px;
  border-radius: 50%;
  color: #000;
  font-weight: 700;
  text-align: center;
  line-height: 22px;
  padding: 30px 0;
}

.upcoming-events__slider-item--circle .num {
  font-size: 36px;
}

.upcoming-events__info {
  padding-left: 32px;
}

.upcoming-events__slider-item-title {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 37px;
}

.upcoming-events__slider-item-time {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 15px;
}

.coming-events__slider-item-text {
  font-size: 16px;
  line-height: 28px;
  color: #A3ABB6;
  max-width: 310px;
}

/* quoute section */

.quote {
  text-align: center;
  padding: 156px 0 200px;
}

.quote__pretitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;  
  color: #023AA2;
  padding-bottom: 16px;
}

.quote__title {
  padding-bottom: 35px;
}

.quote__text {
  font-size: 18px;
  max-width: 805px;
  margin: 0 auto;
  line-height: 32px;
  color: #080A12;
  padding-bottom: 104px;
}

.quote__auth {
  display: flex;
  margin: 0 auto;
  max-width: 370px;
}

.quote__auth-img {
  padding-right: 22px;
  width: 100%;
  height: auto;
}

.quote__auth-sign {
  margin-bottom: 35px;
}

.quote__auth-name {
  font-size: 18px;
  line-height: 32px;
  color: #080A12;
}

/* achievements section */

.achievements {
  border-top: 1px solid #EBECF0;
  border-bottom: 1px solid #EBECF0;
  padding: 98px 0 65px;
}

.achievement__inner {
  display: flex;
  justify-content: space-around;
}

.achievement__item {
  text-align: center;
}

.achievement__item-num {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  color: #080A12;
}

.achievement__item-text {
  font-size: 18px;
  line-height: 25px;
  color: #A3ABB6;
}

/* choose section */

.choose {
  background-color: #F9F9F9;
  padding: 70px 0 72px;
}

.choose__title {
  padding-bottom: 20px;
}

.choose__text {
  margin: 0 auto;
  max-width: 635px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #080A12;
  padding-bottom: 72px;
}

.choose__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choose__item {
  background: #FFFFFF;
  border: 1px solid #EBECF0;
  border-radius: 8px;
  padding: 40px;
  max-width: 429px;
  min-height: 353px;
  margin: 24px 15px;
}

.choose__item-title {
  padding-top: 28px;
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  font-family: 'Cairo', sans-serif;
  padding-bottom: 20px;
}

.choose__item-text {
  font-size: 16px;
  line-height: 28px;
  color: #080A12;
}

/* mission section */

.mission {
  padding: 220px 0 305px;
}

.mission__inner {
  display: flex;
  justify-content: space-between;
}

.mission__leftSide {
  min-width: 815px;
}

.mission__rightSide-title {
  text-align: left;
}

.mission__leftSide-img {
  margin-bottom: 48px;
}

.mission__leftSide-img:last-child {
  margin-left: 50px;
}

.leftSide--last {
  padding-left: 120px;
}

.misstion__rightSide {
  max-width: 660px;
}

.mission__rightSide-text {
  font-size: 16px;
  line-height: 24px;
  max-width: 531px;
}

.mission__rightSide-items {
  padding-top: 73px;
}

.rightSide__item {
  display: flex;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(143, 134, 196, 0.07);
}

.rightSide__item-circle {
  margin-right: 29px;
  border: 1px solid #023AA2;
  border-radius: 50%;
  text-align: center;
  padding: 15px 0;
  height: 84px;
  width: 84px;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #023AA2;
}

.rightSide__item-info {
  max-width: 480px;
}

.rightSide__item-title {
  font-weight: 700;
  color: #080A12;
  font-size: 26px;
  font-family: 'Cairo', sans-serif;
  line-height: 32px;
}

.rightSide__item-text {
  font-size: 18px;
  line-height: 26px;
  color: #080A12;
}

/* teachers */

.teachers {
  padding-bottom: 285px;
}

.teachers__text {
  font-size: 16px;
  line-height: 24px;
  margin: 0 auto;
  text-align: center;
  color: #363848;
  max-width: 635px;
  padding-bottom: 70px;
}

.teachers__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.teachers__item {
  min-width: 262px;
  min-height: 347px;
  box-shadow: 0px 7px 22px rgba(143, 134, 196, .07);
  border-radius: 6px;
  transition: all .3s;
}
.teachers__item:hover {
  background-color: #023AA2;
  color: #fff;
}
.teachers__item:hover .teachers__item-name {
  color: #fff;
}

.teachers__item-name {
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
  font-size: 24px;
  line-height: 45px;
  color: #202020;
}

/* reviews */

.reviews__text {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin: 0 auto;
  max-width: 584px;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 100px;
}

.reviews__block {
  margin: 0 auto;
  text-align: center;
}

.reviews__block--stars {
  background-image: url(/images/icons/rating.png);
  width: 178px;
  height: 34px;
  margin: 0 auto;
}

.reviews__block-text {
  position: relative;
  padding-top: 28px;
  max-width: 985px;
  margin: 0 auto;
  font-size: 18px;
  color: #363848;
  line-height: 28px;
}

.reviews__block-text::before,
.reviews__block-text::after {
  position: absolute;
  content: '';
  height: 53px;
  width: 68px;
}

.reviews__block-text::before {
  background-image: url(/images/icons/textBef.png);
  left: 0;
  transform: translate(-150%, -100%);
}

.reviews__block-text::after {
  background-image: url(/images/icons/textAft.png);
  right: 0;
  bottom: 0;
  transform: translate(150%, 100%);
}

.reviews__auth {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  max-width: 157px;
  margin: 0 auto;
  padding: 56px 0 45px;
}

.reviews__auth-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 52px;
  font-family: 'Cairo', sans-serif;
  color: #363848;
}

.reviews__auth-source {
  font-size: 16px;
  line-height: 22px;
  color: #3D3D3D;
}

.reviews__LeftBtn {
  margin-right: 20px;
}

/* photos section */

.photos {
  padding: 200px 0 230px;
}

.photos__inner {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.photos__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photos__title-block {
  text-align: center;
  max-width: 1030px;
  margin-right: 32px;
}

.photos__text {
  font-size: 16px;
  line-height: 24px;
  color: #363848;
}

.photos__img  {
  margin-right: 22px;
  margin-bottom: 30px;
  float: left;
}

/* news */

.news {
  padding-bottom: 230px;
}

.news__title-block {
  max-width: 584px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 60px;
}

.news__text {
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}

.news__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.news__list-item {
  display: flex;
  flex-direction: column;
  max-width: 506px;
  padding: 30px 41px 38px;
  transition: all .3s;
}

.news__list-item:hover {
  box-shadow: 0px 8px 42px rgba(0, 0, 0, 0.09);
  border-radius: 6px;
}

.list-item-img {
  width: 424px;
  height: 206px;
}

.list-item-title {
  font-family: 'Cairo', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  padding: 33px 0 10px;
}

.list-item-auth {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #A3ABB6;
  padding-bottom: 20px;
}

.list-item-text {
  font-size: 16px;
  line-height: 26px;
  color: #080A12;
  padding-bottom: 13px;
}

.list-item--more {
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: #023AA2;
}

.news__list-nav { 
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* feedback section */

.feedback {
  background-color: #023AA2;
  padding: 127px 0;
  color: #fff;
}

.feedback__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__text {
  font-weight: 700;
  font-size: 38px;
  line-height: 56px;
  max-width: 533px;
  font-family: 'Cairo', sans-serif;
}

.list-nav--more {
  font-size: 20px;
  line-height: 34px;
  max-height: 62px;
  width: 201px;
  padding: 13px 46px;
  font-weight: 700;
  color: #023AA2;
  border-radius: 6px;
  border: 1px solid #023AA2;
}

.feedback__input {
  min-width: 589px;
  height: 60px;
  border: 1px solid #EBECF0;
  border-radius: 6px;
  font-size: 18px;
  line-height: 25px;
  color: #EBECF0;
  padding: 16px 246px 16px 46px;
  margin-right: -196px;
}

.feedback__btn {
  background-color: #fff;
  height: 60px;
  min-width: 197px;
  font-family: 'Poppins';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #023AA2;
  border-radius: 6px;
}

/* footer */

.footer {
  padding-top: 116px;
  background-color: #080A12;
  color: #EBECF0;
}

.footer__menu {
  display: flex;
  justify-content: space-between;
}

.footer__list-title {
  padding-bottom: 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 37px;
}

.footer__list-item {
  padding-bottom: 14px;
}

.footer__list-link {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #A3ABB6;
}

.footer__list-title {
  padding-bottom: 17px;
  font-size: 20px;
  line-height: 37px;
  color: #EBECF0;
}

.footer__info-inner {
  padding: 125px 0 112px;
  display: flex;
  justify-content: space-between;
}

.footer__info {
  max-width: 803px;
}

.footer__info-logo {
  position: relative;
  padding-left: 65px;
  font-family: 'MuseoModerno', cursive;
  font-weight: bold;
  font-size: 39px;
  line-height: 62px;
}

.footer__info-logo::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  background-image: url(../images/icons/logo.png);
  width: 49px;
  height: 40px;
}

.footer_info-text {
  padding: 35px 0 42px;
  font-size: 16px;
  line-height: 24px;
  color: #EBECF0;
}

.footer__info-address-list {
  display: flex;
  justify-content: space-between;
  max-width: 666px;
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #EBECF0;
}

.footer__social-title {
  font-size: 16px;
  line-height: 22px;
  color: #EBECF0;
  font-weight: 400;
  padding-bottom: 40px;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  max-width: 344px;
}

.download__btn-list {
  display: flex;
  justify-content: space-between;
  min-width: 445px;
}

.btn-list-item {
  position: relative;
  margin-top: 50px;
  display: block;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  background-color: #171B2C;
  border-radius: 6px;
  font-size: 14px;
  line-height: 24px;
  color: #EBECF0;
  padding: 15px 48px 15px 70px;
  max-width: 231px;
}

.btn-list-item + .btn-list-item {
  margin-left: 31px;
}

.btn-list-item span {
  font-weight: 900;
  font-size: 20px;
}

.btn--appStore::after,
.btn--googlePlay::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background-repeat: no-repeat;
}

.btn--appStore::after {
  background-image: url(../images/icons/ios.png);
  height: 38px;
  width: 30px;
  transform: translate(70%,50%);
}

.btn--googlePlay::after {
  background-image: url(../images/icons/gplay.png);
  height: 32px;
  width: 26px;
  transform: translate(100%,70%);
}

.footer__policy {
  border-top: 1px solid rgba(243, 243, 243, 0.08);;
  display: flex;
  justify-content: space-between;
  padding: 27px 0;
}

.footer__policy-list {
  display: flex;
  justify-content: space-between;
  min-width: 465px;
}

.footer__policy-link {
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #A3ABB6;
}

.footer__policy-made {
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #EBECF0;
}