@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: "Open-Sans", sans-serif;
  font-size: 16px;
  line-height: 1.75;
}

p {
  margin-bottom: 20px;
}

.container {
  max-width: 640px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: 740px) {
  .container {
    max-width: 1040px;
  }
}

@media (min-width: 1240px) {
  .container {
    max-width: 1616px;
    padding: 0 10px;
  }
}

.header,
.slider,
.feature {
  background: #080A12;
  color: #fff;
}

.logo {
  font-size: 2em;
  font-family: "MuseoModerno", sans-serif;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #fff;
}

@media (min-width: 1240px) {
  .logo {
    font-size: 39px;
  }
}

.logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  margin-right: .3em;
}

@media (min-width: 1240px) {
  .logo img {
    margin-right: 17px;
  }
}

.logo:hover {
  color: #2459A8;
}

.quote {
  background: no-repeat top center url(../images/content/bg-fig.jpg);
  text-align: center;
  font-size: 18px;
  line-height: 1.77777;
  color: #080A12;
}

.quote__inner {
  padding: 2em 0;
}

@media (min-width: 740px) {
  .quote__inner {
    margin: 0 auto;
    max-width: 752px;
    padding: 110px 0;
  }
}

.quote strong {
  display: block;
  font-weight: 600;
  font-size: 1em;
  line-height: 33px;
  text-transform: uppercase;
  color: #023AA2;
  font-family: 'Open Sans';
}

@media (min-width: 740px) {
  .quote strong {
    margin-bottom: 17px;
    font-size: 24px;
  }
}

.quote h2 {
  font-family: "Cairo", sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.33333;
  margin-bottom: 1em;
}

@media (min-width: 740px) {
  .quote h2 {
    font-size: 60px;
    margin-bottom: 36px;
  }
}

.quote p {
  margin-bottom: 1em;
}

@media (min-width: 740px) {
  .quote p {
    margin-bottom: 104px;
  }
}

@media (min-width: 740px) {
  .quote .auth {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 740px) {
  .quote .auth__inner {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}

@media (min-width: 740px) {
  .quote .auth__sign {
    margin-bottom: 24px;
  }
}

@media (min-width: 740px) {
  .quote img {
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/*# sourceMappingURL=quote.css.map */