.main {
  text-align: center;
  color: $grey;
  padding-bottom: 2em;

  @media (min-width: 629px) {
    font-size: 16px;
    padding-bottom: 211px;
  }
  
  &__content {
    max-width: 570px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2em;
    font-family: $title-font;
    font-weight: 700;
    line-height: 1.375;
    margin-bottom: 1em;
    color: $greySoft;
    
    @media (min-width: 629px) {
      font-size: 80px;
      margin-bottom: 28px;
    }
  }

  p {

    @media (min-width: 629px) {
      margin-bottom: 43px;
    }
  }
  
  a {
    display: inline-block;
    color: $white;
    padding: 10px 30px 10px 55px;
    border: 1px solid $greySoft;
    border-radius: 6px;
    font-family: $title-font;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    transition: border .3s ease, background-color .3s ease;
    
    @media (min-width: 629px) {
      padding: 13px 40px 13px 70px;
    }
    
    &:hover {
      border: 1px solid $dark;
      background: $dark;
    }
  }
}