.gallery {

  @media (min-width: 1505px) {
    padding-bottom: 100px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: 1060px) {
      margin: 0 auto;
    }
    
    @media (min-width: 1588px) {
      justify-content: space-between;
    }
  }

  &__content {
    text-align: center;
    order: -1;
    width: 100%;

    @media (min-width: 1588px) {
      order: 0; 
      width: auto;
    }
  }

  h2 {
    font-size: 2em;
    font-family: $title-font;
    font-weight: 700;
    line-height: 1.33333;
    margin-bottom: 1em;
    color: $dark;

    @media (min-width: 1114px) {
      font-size: 60px;
      line-height: 1.86666;
      margin-bottom: 9px;
    }
  }

  &__img {
    margin: 0 10px 10px 0;
  }
  
  img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    
    @media (min-width: 986px) {
      height: 200px;  
    }
    
    @media (min-width: 1588px) {
      height: 262px;
    }
  }
}