.gallery {
   
  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @media (min-width: $xxl) {
      justify-content: space-between;
    }
  }

  &__content {
    order: -1;
    text-align: center;
    margin: 0 auto;

    @media (min-width: $lg) {
      order: 0;
      max-width: 620px;
    }

    @media (min-width: $xxl) {
      max-width: none;
    }

    @media (min-width: $xxl) {
      margin: 0;
    }
    
    h2 {
      font-size: 2em;
      font-family: $primary-font;
      font-weight: 700;
      line-height: 1.33333;
      margin-bottom: 1em;
      color: $dark;
    }
  }

  &__item {
    display: flex;
    flex: 0 0 auto;
    margin: 0 5px 10px 5px;
    
    @media (min-width: $xxl) {
      margin: 0 0 30px 0;
      
    }
  }

  img {
    max-width: 110px;
    object-fit: cover;
    
    @media (min-width: $md) {
      max-width: 162px;
    }

    @media (min-width: $lg) {
      max-width: 200px;
    }

    @media (min-width: $xl) {
      min-width: 262px;
    }

    @media (min-width: $xxl) {
      max-width: none;
      width: 100%;
    }
  }
}