.header {

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;

    @media (min-width: 1240px) {
      padding: 32px 0 84px;
    }
  }
  
  &__list {
    display: none;
  
    @media (min-width: 1240px) {
      display: flex;
      justify-content: space-between;
    }

    li {
  
      @media (min-width: 1240px) {
        font-family: $title-font;
        font-weight: 600;
        font-size: 18px;
        color: $greySoft;
        transition: color .3s ease;
    
        &:hover {
          color: $blue;
        }
    
        & + li {
          margin-left: 75px;
        }
      }
    }
  }

  &__help {
    display: none;
    
    @media (min-width: 1240px) {
      display: block;
      transition: color .3s ease;
      font-family: $font-decor;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      color: $greySoft;
    }
  }

  &__help-tel {
    
    @media (min-width: 1240px) {
      position: relative;
      margin-right: 63px;
      transition: color .3s ease;
      
      &:hover {
        color: $blue;
      }
      
      span {
        margin-right: 25px;
        font-family: 'icomoon';
      }
    }
  }
  
  &__help-search {
    
    @media (min-width: 1240px) {
      position: absolute;
      transition: color .3s ease;
      transform: translateX(140%);
      font-family: 'icomoon';
      
      &:hover {
        color: $blue;
      }
    }
  }
  
  &__burger {
    font-size: 2em;
    font-family: 'icomoon';
    cursor: pointer;
    transition: color .3s ease;

    &:hover {
      color: $blue;
    }
    
    @media (min-width: 1240px) {
      display: none;
    }
  }
}