.mission {

  &__inner {
    padding: 2em 0; 
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;

    @media (min-width: 1561px) {
      padding: 100px 0;
    }

    @media (min-width: 1506px) {
      justify-content: space-between;
    }
  }
  
  &__left {
    order: 2;

    @media (min-width: 982px) {
      order: 0;
      width: 60%;
      margin: auto 0;
    }
  }
  
  img {
    display: inline-block;
    width: 100%;

    @media (min-width: 420px) {
      width: 100%;
      max-width: 311px;
      min-width: 116px;
    }

    @media (min-width: 818px) {
      width: auto;
    }
    
    @media (min-width: 1206px) {
      width: 50%; 
      margin: 20px;
    }

    @media (min-width: 1507px) {
      width: auto;
      max-width: 611px;
      min-width: 316px;
    }
  }
  
  &__right {
    
    @media (min-width: 982px) {
      order: 0;
      max-width: 40%;
    }
  }
  
  &__content {
    max-width: 476px;
    margin: 0 auto;

    @media (min-width: 1206px) {
      text-align: left;
      margin: 0;
    }
  }
  
  h2 {
    font-size: 2em;
    font-family: $title-font;
    font-weight: 700;
    line-height: 1.33333;
    margin-bottom: 1em;

    @media (min-width: 1206px) {
      font-size: 60px;
      margin-bottom: 17px;
    }
  }
  
  p {
    margin-bottom: 2em;
  }
  
  .right__item {
    position: relative;
    border-bottom: 1px solid rgba(143, 134, 196, .10);
    counter-increment: number;
    text-align: center;
    margin-bottom: 2em;

    @media (min-width: 1206px) {
      text-align: left;
    }
    
    &::after {
      content: counter(number);
      position: absolute;
      height: 50px;
      width: 50px;
      border: 1px solid $darkBlue;
      border-radius: 50%;
      right: 50%;
      top: 0;
      transform: translateX(50%);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-family: $font-decor;
      font-weight: 600;
      font-size: 1em;
      line-height: 1.33333;
      color: $darkBlue;
      
      @media (min-width: 1206px) {
        transform: translateX(-5%);
        font-size: 36px;
        left: 0;
        height: 84px;
        width: 84px;
      }
    }
  }

  .item__inner {
    padding-top: 4em;
    margin-top: 1em;
    max-width: 478px;
    margin: 0 auto;

    @media (min-width: 1206px) {
      padding: 0;
      margin-left: 110px;
    }
  }

  h5 {
    font-family: $title-font;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.23076;
    color: $dark;
    margin-bottom: 10px;
  }
}