.mission {

  &__inner {
    padding: 2em 0; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;


  }
  
  &__left {

  }
  
  img {
    display: inline-block;
    width: 100%;
  }
  
  &__right {
    
  }
  
  &__content {
    max-width: 476px;
    margin: 0 auto;

  }
  
  h2 {
    font-size: 2em;
    font-family: $title-font;
    font-weight: 700;
    line-height: 1.33333;
    margin-bottom: 1em;

  }
  
  p {
    margin-bottom: 2em;
  }
  
  .right__item {
    position: relative;
    border-bottom: 1px solid rgba(143, 134, 196, .10);
    counter-increment: number;
    text-align: center;
    margin-bottom: 2em;
    
    &::after {
      content: counter(number);
      position: absolute;
      height: 50px;
      width: 50px;
      border: 1px solid $darkBlue;
      border-radius: 50%;
      right: 50%;
      top: 0;
      transform: translateX(50%);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-family: $font-decor;
      font-weight: 600;
      font-size: 1em;
      line-height: 1.33333;
      color: $darkBlue;
    }
  }

  .item__inner {
    padding-top: 4em;
    margin-top: 1em;
    max-width: 478px;
    margin: 0 auto;
  }

  h5 {
    font-family: $title-font;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.23076;
    color: $dark;
    margin-bottom: 10px;
  }
}