.choose {
	padding: 2em 0;
	text-align: center;
	font-size: 16px;
	line-height: 1.75;
	color: $dark;
	background: #f9f9f9;

	@media (min-width: $xxl) {
		padding: 60px 0;
	}

	@media (min-width: $xl) {
		font-size: 16px;
		line-height: 28px;
	}

	&__inner {
		max-width: 600px;
		margin-bottom: 1em;

		@media (min-width: $md) {
			margin: 0 auto;
		}
	}

	h2 {
		font-size: 2em;
		font-family: $primary-font;
		font-weight: 700;
		line-height: 1.33333;
		margin-bottom: 1em;

		@media (min-width: $md) {
			margin: 0 auto 8px;
			font-size: 60px;
		}
	}

	&__list {
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@media (min-width: $sm) {
			justify-content: space-evenly;
		}

		@media (min-width: $xl) {
			justify-content: center;
		}
	}

	&__item {
		background: $white;
		border: 1px solid $greySoft;
		border-radius: 8px;
		padding: 20px;
		margin-bottom: 1em;

		@media (min-width: $md) {
			width: 20%;
		}

		@media (min-width: $md) {
			width: 30%;
		}

		@media (min-width: $xl) {
			width: 27%;
			margin: 15px;
			padding: 30px;
		}

		p {
			margin-bottom: 0;
		}
	}

	img {
		width: auto;
		height: 28px;
		margin-bottom: 0.5em;

		@media (min-width: $xl) {
			height: 38px;
			width: 38px;
			margin-bottom: 10px;
		}
	}

	h4 {
		margin-bottom: 15px;
		font-family: $primary-font;
		font-weight: 700;
		font-size: 1.5em;
		line-height: 1.06666;

		@media (min-width: $xl) {
			font-size: 30px;
		}
	}
}
