.feedback {
	position: relative;
	background: $darkBlue;
	color: $white;

	&::before {
		@media (min-width: $xl) {
			content: '';
			position: absolute;
			background: $white;
			height: 100%;
			width: 159px;
			left: 0;
			top: 0;
			opacity: 0.15;
		}
	}

	&__inner {
		padding: 2em 0;
		text-align: center;

		@media (min-width: $lg) {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		@media (min-width: $xl) {
			justify-content: space-evenly;
			padding: 60px 0;
		}
	}

	&__title {
		font-family: $primary-font;
		font-weight: 700;
		font-size: 1.3em;
		line-height: 1.47368;
		margin-bottom: 1em;

		@media (min-width: $sm) {
			font-size: 28px;
		}

		@media (min-width: $lg) {
			margin-bottom: 0;
			text-align: left;
			max-width: 380px;
		}

		@media (min-width: $xl) {
			font-size: 38px;
			max-width: 533px;
		}
	}

	&__content {
		overflow: auto;

		@media (min-width: $sm) {
			display: flex;
			max-width: 500px;
			margin: 0 auto;
		}

		@media (min-width: $lg) {
			max-height: 60px;
			margin: 0;
			width: 50%;
		}
	}

	&__input {
		border-radius: 6px;
		width: 100%;
		padding: 18px 20px;
		background: $darkBlue;
		border: 1px solid $greySoft;
		color: $greySoft;
		font-size: 0.8em;
		line-height: 1.38888;
		text-overflow: ellipsis;
		margin-bottom: 1em;

		&::placeholder {
			color: $greySoft;
		}

		@media (min-width: $sm) {
			width: calc(100% - 198px);
			margin-bottom: 0;
			border-radius: 6px 0 0 6px;
		}

		@media (min-width: $xxl) {
			padding: 10px 30px 10px 30px;
			font-size: 18px;
		}
	}

	&__btn {
		border-radius: 6px;
		width: 100%;
		border: none;
		padding: 18px 49px;
		font-family: $poppins;
		font-weight: 600;
		font-size: 1em;
		line-height: 1.5;
		color: $darkBlue;
		background: $white;
		text-transform: uppercase;
		transition: color 0.3s ease, background-color 0.3s ease;
		cursor: pointer;

		&:hover {
			background: $dark;
			color: $white;
		}

		@media (min-width: $sm) {
			max-width: 40%;
			border-radius: 0 6px 6px 0;
		}
	}
}
