@font-face {
  font-family: 'icomoon' ;
  src:url('../../src/fonts/icomoon.eot');
  src:url('../../src/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('../../src/fonts/icomoon.woff') format('woff'),
  url('../../src/fonts/icomoon.ttf') format('truetype'),
  url('../../src/fonts/icomoon.svg') format('svg');
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}