@import "_vars";

body {
  overflow-x: hidden;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.75;
}

p {
  margin-bottom: 20px;
}

.container {
  max-width: 1616px;
  padding: 0 20px;
  margin: 0 auto;
}

.header,
.slider,
.feature {
  background: $dark;
  color: $white;
}

img {
  border-radius: 6px;
}

.logo {
  font-size: 2em;
  font-family: $moderno;
  transition: color .3s ease;
  color: $white;
  
  @media (min-width: $xl) {
    font-size: 39px;
  }

  a {
    display: flex;
    align-items: center;
  }

  img {
    margin-right: .3em;
  
    @media (min-width: $xl) {
      margin-right: 17px;
    }
  }

  &:hover {
    color: $blue;
  }
}