@import "vars";
@import "reset";

body {
  overflow-x: hidden;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 1.75;
}

p {
  margin-bottom: 20px;
}

.container {
  max-width: 1616px;
  padding: 0 20px;
  margin: 0 auto;
}

.header,
.slider,
.feature {
  background: $dark;
  color: $white;
}

img {
  border-radius: 6px;
}
