.partners {
  text-align: center;
  padding-bottom: 2em;

  ul {

    @media (min-width: $sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
  
  li {
    margin: 0 2em 2em 2em;

    @media (min-width: $sm) {
      width: 40%;
    }
    
    @media (min-width: $md) {
      width: 30%;
    }

    @media (min-width: $lg) {
      width: 19%;
      margin: 0 5px 0 5px;
    }
  }
  
  h3 {
    margin-bottom: 2em;
    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1;
    color: #363848;
  }

}