.reviews {
	text-align: center;
	padding-bottom: 2em;

	@media (min-width: $xxl) {
		padding-bottom: 60px;
	}

	&__inner {
		max-width: 584px;
		color: $black;
		margin: 0 auto;

		@media (min-width: $xl) {
			padding: 0;
		}
	}

	h2 {
		font-size: 2em;
		font-family: $primary-font;
		font-weight: 700;
		line-height: 1.33333;
		margin-bottom: 1em;
		color: $dark;

		@media (min-width: $xl) {
			font-size: 60px;
			line-height: 1.1;
		}
	}

	&__rating {
		font-family: 'icomoon';
		color: #fe8d4d;
		font-size: 28px;

		@media (min-width: $xl) {
			margin-bottom: 15px;
		}
	}

	&__content {
		position: relative;
		margin: 0 auto;
		max-width: 985px;
		padding: 0 2.5em;
		margin-bottom: 2em;
	}

	&__content span {
		position: absolute;
		font-family: 'icomoon';
		font-size: 20px;

		@media (min-width: $xl) {
			font-size: 58px;
		}
	}

	&__content .left {
		left: 0;
		top: 0;
		transform: translateX(50%);

		@media (min-width: $xl) {
			transform: translate(-50%, -100%);
		}
	}

	&__content .right {
		right: 0;
		bottom: 0;
		transform: translateX(-50%);

		@media (min-width: $xl) {
			transform: translate(50%, 50%);
		}
	}

	&__auth {
		display: flex;
		margin: 0 auto;
		flex-wrap: wrap;
		max-width: 157px;
		justify-content: center;
	}

	&__auth-name {
		font-family: $primary-font;
		font-weight: 700;
		font-size: 28px;
		line-height: 1.85714;
		color: $darkGrey;
	}

	&__auth-source {
		font-size: 16px;
		line-height: 1.375;
		color: #3d3d3d;
		margin-bottom: 2em;

		@media (min-width: $xxl) {
			margin-bottom: 15px;
		}
	}

	&__btn {
		font-family: 'icomoon';
		font-size: 30px;
		color: $darkBlue;
		transition: color 0.3s ease;

		&:hover {
			color: $dark;
		}

		& + .reviews__btn {
			margin-left: 20px;
		}
	}
}
