$title-font: 'Cairo', sans-serif;
$text-font: 'Open-Sans', sans-serif;
$font-decor: 'Poppins', sans-serif;
$logo-font: 'MuseoModerno', sans-serif;

$white: #fff;
$black: #000;
$yellow: #FBFF33;
$dark: #080A12;
$darkGrey: #363848;
$hardGrey: #414141;
$grey: #A3ABB6;
$greySoft: #EBECF0;
$blue: #2459A8;
$darkBlue: #023AA2;

