$primary-font: 'Cairo', sans-serif;
$secondary-font: 'Open-Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$moderno: 'MuseoModerno', sans-serif;

$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1440px;

$white: #fff;
$black: #000;
$yellow: #fbff33;
$orange: #fa814d;
$pink: #ff4a55;
$sky: #5dcfff;
$dark: #080a12;
$darkGrey: #363848;
$hardGrey: #414141;
$grey: #a3abb6;
$greySoft: #ebecf0;
$blue: #2459a8;
$darkBlue: #023aa2;
