@import "_reset";
@import "_global";
@import "_vars";

@import "__header";
@import "__first";
@import "__partners";
@import "__academ-about";
@import "__achievements";
@import "__location";
@import "__feedback";
@import "__footer";


.header {
  background: $white;
  border-bottom: 1px solid $greySoft;
  
  @media (min-width: $lg) {
    margin-bottom: 200px;
  }

  &__inner {
    margin-bottom: 2em;


    @media (min-width: $xl) {
      padding: 32px 0 0;
    }
  }

  a {
    color: $dark;
    transition: color .3s ease;

    &:hover {
      color: $blue;
    }
  }
}

.main {
  color: $hardGrey;
  padding-bottom: 4em;

  @media (min-width: $lg) {
    padding-bottom: 150px;
  }

  h1 {
    color: $dark;
  }

  a {
    padding: 13px 56px;
    background: $darkBlue;
    border: none;
    box-shadow: 0 19px 29px rgba(2, 58, 162, .26);

    &:hover {
      border: none;
    }

    &::before {
      display: none;
    }
  }
}

.partners {
  padding-bottom: 150px;
}

.academ-about {

  margin-bottom: 3em;

  @media (min-width: $lg) {
    margin-bottom: 200px;
  }

  &.academ-about--alone {

    .academ-about__img {

      @media (min-width: $xl) {
        justify-content: flex-start;
      }
    }

    img {
      transform: none;
      position: relative;
    }
  }
}

.achievements {

  &__list {
    margin-bottom: 55px;
  }
}