@import "global";

@import "_header";
@import "_first";
@import "_calendar";
@import "_event-list";
@import "_feedback";
@import "_footer";


.header, .main {
  color: $greySoft;
  background: $darkBlue;

  a {
    transition: color .3s ease;
    
    &:hover {
      color: $grey;
    }
  }
}

