@import "_reset";
@import "_global";
@import "_vars";

@import "__header";
@import "__first";
@import "__event-list";
@import "__feedback";
@import "__footer";


.header, .main {
  color: $greySoft;
  background: $darkBlue;

  a {
    transition: color .3s ease;
    
    &:hover {
      color: $grey;
    }
  }
}

